services:
  vault-agent:
    image: hashicorp/vault:1.19
    container_name: vault-agent
    entrypoint: >
      vault agent -config=/vault-agent/vault-agent.hcl -exit-after-auth
    volumes:
      - ./vault-agent:/vault-agent:ro
      - /var/lib/vault:/secrets:ro
      - /data/pgadmin/certs:/output/certs/pgadmin
      - /data/postgres/certs:/output/certs/postgres
      - ./secrets:/output/secrets
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
    restart: "no"
    networks:
      - frontend
  db:
    image: postgres:16.9-bullseye
    container_name: postgres
    volumes:
      - /data/postgres/data:/var/lib/postgresql/data
      - /data/postgres/certs:/var/lib/postgresql/certs:ro
      - /data/ca:/var/lib/postgresql/ca:ro
      - ./secrets:/secrets:ro
      - ./conf/postgresql.conf:/etc/postgresql/postgresql.conf:ro
    ports:
      - "5432:5432"
    entrypoint: |
      /bin/sh -c "
      echo 'Waiting for .env_postgres...' &&
      while [ ! -f /secrets/.env_postgres ] || [ ! -r /secrets/.env_postgres ]; do
        sleep 1;
      done;
      echo '.env_postgres found and readable. Loading environment variables...';
      # Load environment variables from the file
      set -a; . /secrets/.env_postgres; set +a;
      # Execute the original command
      exec gosu postgres postgres -c config_file=/etc/postgresql/postgresql.conf
      "
    depends_on:
      - vault-agent
    networks:
      - backend
  pgadmin:
    image: dpage/pgadmin4:9.5
    container_name: pgadmin
    environment:
      PGADMIN_ENABLE_TLS: "True"
      PGADMIN_TLS_CERT: "/certs/server.cert"
      PGADMIN_TLS_KEY: "/certs/server.key"
    ports:
      - "5443:443"
    volumes:
      - /data/pgadmin/data:/var/lib/pgadmin
      - /data/pgadmin/certs:/certs:ro
      - ./secrets:/secrets:ro
    entrypoint: |
      /bin/sh -c "
      echo 'Waiting for .env_pgadmin...' &&
      while [ ! -f /secrets/.env_pgadmin ] || [ ! -r /secrets/.env_pgadmin ]; do
        sleep 1;
      done;
      echo '.env_pgadmin found and readable. Loading environment variables...';
      # Load environment variables from the file
      set -a; . /secrets/.env_pgadmin; set +a;
      # Execute the original entrypoint/command for pgadmin
      /entrypoint.sh # This is the default entrypoint for dpage/pgadmin4
      "
    networks:
      - frontend
      - backend
#    labels:
#      - "traefik.enable=true"
#      - "traefik.http.routers.vault.rule=Host(`pgadmin.devdotweb.com`)"
#      - "traefik.http.routers.vault.entrypoints=https"
#      - "traefik.http.routers.vault.tls.certresolver=cloudflare"
#      - "traefik.http.services.vault.loadbalancer.server.url=https://vault:8200"
#      - "traefik.http.services.vault.loadbalancer.serversTransport=vault-transport@file"
    depends_on:
      - vault-agent

networks:
  backend:
    external: true
  frontend:
    external: true
